@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.App {
  width: 100vW;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(83, 50, 141);
  font-family: 'Lilita One', cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (min-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}